<link rel="stylesheet" href="/CSS/cardsAgainstHummanity.css">

<div class="container" ng-controller="CardsAgainstHummanityController">
  <div class="row">
    <div class="col-12">
      <button class="btn" >Back</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center card">
      <h1>Cards Against Hummanity</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1 ng-bind="gameCode">{{ gameCode }}</h1>
        {{ gameCode}} fdsa
      </div>
    </div>
  </div

  <div class="row">
    <div class="col-4">
      <div class="app-module">
        <a href="">
          <img src="IMGS/settings-icon.png" class="full-icon" alt="">
        </a>
      </div>
    </div>
    <div class="col-8"></div>
  </div>



</div>
