
 <div class="container" ng-controller ='homeViewController'>
  <div class="row">
    <div class="col-12 text-center">
      <h1>Welcome to Game stick</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="add-space text-center">
        <h1>Your Add Here</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="#/cardsAgainstHummanity">
      <div class="app-module text-center cardsAgainstHummanity">
        Cards Against Humanity
      </div>
    </a>
    </div>
    <div class="col-3">
      <div class="app-module text-center">
        Meme It
      </div>
    </div>
    <div class="col-3">
      <div class="app-module text-center">
        Trivia
      </div>
    </div>
    <div class="col-3">
      <div class="app-module text-center">
        Some Other
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="app-module">
        <a>
          <img src="IMGS/settings-icon.png" class="full-icon">
        </a>
      </div>
    </div>
    <div class="col-8"></div>
  </div>
</div>
